@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icons {
  color: blue;
  transition: .40s ease-in-out;
}

.navbar-icons:hover {
  color: blue;
  transition: .40s;
}


.custom-shape-divider-top-1747194049 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1747194784 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1747194784 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 172px;
}

.custom-shape-divider-top-1747194784 .shape-fill {
  fill: #4A90E2;
}

.pos-relative {
  position: relative;
}




.upButton {
  position: fixed;
  bottom: 8%;
  right: 1%;
  color: white;
  z-index: 100000;
  display: block;
  border-radius: 2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #2a4365;
}

.upButton:hover {
  background-color: #3d6294;
  transition: .40s ease-in-out;
}

.svg-up-button {
  margin-left: 9px;
}

.hide {
  display: none;
}
